@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper{
  font-family: 'Rubik', sans-serif;
}

::selection{
  color: #fff;
  background-color: #6366F1;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1b44;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366F1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8789fc;
}



#drop-menu{
  /* display: none; */
  top: 55px;
  transition: .6s all;
  transform: translateY(-20px);
  max-height: 0;
  padding: 0 5px;
}

#drop-menu.active{
  z-index: 99999;
  max-height: 500px;
  transform: translateY(0);
  padding: 5px 5px;
}

#menuToggle
{
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 920px) {

  .header{
    position: relative;
  }

  #menuToggle{
    display: block;
  }

  .nav{
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    background: #111827;
    border: solid 1px rgba(255, 255, 255, 0);
    z-index: 9999;
    border-radius: 12px;
    transition: .6s all;
    transform: translateY(-20px);
    max-height: 0;
    overflow: hidden;

  }

  .nav.active{
    transform: translateY(0);
    max-height: 500px;
    padding: 20px 0;
    border: solid 1px rgba(255, 255, 255, 0.08);
  }

  .nav__link{
    margin-left: 0 !important;
    margin: 5px 0;
    /* padding: 0 !important; */
  }

  .nav.active .nav__link{
    padding: 0.5rem 1rem;
  }
}




.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  /* //stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  height: 400px;
}

.ck.ck-editor__main>.ck-editor__editable{
  height: 400px;
}

.new-avatar{
  right: 0;
  left: 0;
  bottom: 10px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}